@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}
header .header-items {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 10px;
}
header .header-items div button {
  background: none;
  border: none;
  padding: 2px;
}
header .header-items div img {
  padding: 2px;
}

main section {
  margin: 30px 0 30px 0;
}
main .main-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
main .main-section .search-domain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}
main .main-section .search-domain form {
  place-self: center;
  width: 100%;
  box-shadow: 0 0 5px black;
}
main .main-section .search-domain form input {
  height: 48px;
  width: 100%;
  border-radius: 4px;
}
main .main-section .search-domain button {
  border: none;
  background: #09757A;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  height: auto;
}
main .main-section .godaddy-airo {
  display: flex;
  flex-direction: column;
}
main .main-section .godaddy-airo .godaddy-airo-card {
  display: grid;
  place-self: center;
  grid-template-rows: auto auto auto 150px;
  width: auto;
  height: 670px;
  background-image: url("../images/main_img.webp");
  background-size: cover;
  background-position: center;
  margin: 15px;
  border-radius: 10px;
}
main .main-section .godaddy-airo .godaddy-airo-card .airo-title {
  align-content: center;
  justify-self: center;
  text-align: center;
  grid-row: 2/3;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
main .main-section .godaddy-airo .godaddy-airo-card .airo-button {
  margin: 20px;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
  align-content: center;
  justify-self: center;
  justify-items: flex-start;
  text-align: center;
  grid-row: 4/5;
  height: 110px;
}
main .main-section .godaddy-airo .godaddy-airo-card .airo-button p {
  font-size: 10px;
  background-color: lightsteelblue;
}
main .main-section .godaddy-airo .godaddy-airo-card .airo-button button {
  color: white;
  background-color: black;
  font-size: 13px;
  height: 30px;
  border-radius: 10px;
  align-self: center;
}
main .domains {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .domains .scroll-menu {
  overflow-y: auto;
  white-space: nowrap;
}
main .domains .scroll-menu button {
  display: inline-block;
  border: none;
  border-radius: 15px;
  margin: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  width: auto;
}
main .domains .scroll-menu button:hover {
  background-color: black;
  color: white;
}
main .domains .domains-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .domains .domains-list .domains-link {
  display: flex;
  align-items: end;
  justify-self: center;
  width: 90%;
  background-image: url("../images/domain_link.webp");
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 10px;
  margin: 20px 0 0 0;
  font-weight: bold;
  padding: 15px;
}
main .domains .domains-list .specific-domain-container {
  display: flex;
  margin: 0 15px 0 15px;
  gap: 10px;
}
main .domains .domains-list .specific-domain-container .specific-domain {
  display: flex;
  align-items: end;
  justify-self: center;
  width: 90%;
  background-color: lightgray;
  height: 130px;
  border-radius: 10px;
  margin: 20px 0 0 0;
  font-weight: bold;
  padding: 15px;
}
main .marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .marketing .marketing-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
}
main .marketing .scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
}
main .marketing .scroll-container button {
  width: 180px;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
main .marketing .scroll-container .scroll-benefits {
  display: flex;
  overflow-x: auto; /* ← cambio importante */
  gap: 1rem; /* espacio entre tarjetas */
  padding: 1rem; /* opcional para márgenes internos */
  width: 100%;
}
main .marketing .scroll-container .scroll-benefits .benefit-card {
  flex: 0 0 auto; /* ← evita estiramiento y hace scrollable */
  width: 278px; /* define un ancho fijo */
  height: auto;
  border-radius: 10px;
  background: #f5f7f9;
  margin: 10px;
}
main .marketing .scroll-container .scroll-benefits .benefit-card .text-card-container {
  padding: 14px;
}
main .marketing .scroll-container .scroll-benefits .benefit-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
}
main .marketing .scroll-container .scroll-benefits .benefit-card h3 {
  font-size: 26px;
  font-weight: bold;
}
main .marketing .scroll-container .scroll-benefits .benefit-card p {
  font-size: 20px;
  line-height: 28px;
}
main .comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .comments .client-opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .comments .client-opinion .section-phrase {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
main .comments .client-opinion .client-opinion-card {
  width: 90%; /* define un ancho fijo */
  height: auto;
  line-height: 28px;
  border-radius: 10px;
  background: #f5f7f9;
  margin: 10px;
}
main .comments .client-opinion .client-opinion-card #opinion-img-card {
  width: 100%;
  height: 190px;
  border-radius: 10px 10px 0 0;
}
main .comments .client-opinion .client-opinion-card .text-card-container {
  padding: 14px;
}
main .comments .client-opinion .client-opinion-card .icons-container {
  padding: 10px 14px 40px 14px;
}
main .comments .client-opinion .client-opinion-card .icons-container p {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}
main .comments .client-opinion .client-opinion-card .icons-container .icon {
  background-color: #d8efef;
  width: 26px;
  height: 26px;
  border-radius: 10px;
  padding: 4px;
}
main .comments .reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
}
main .comments .reviews .reviews-title {
  text-align: center;
  font-size: 26px;
}
main .comments .reviews .scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .comments .reviews .scroll-container .scroll-reviews {
  display: flex;
  overflow-x: auto; /* ← cambio importante */
  gap: 1rem; /* espacio entre tarjetas */
  padding: 1rem; /* opcional para márgenes internos */
  width: 100%;
}
main .comments .reviews .scroll-container .scroll-reviews .review-card {
  display: grid;
  grid-template-rows: auto auto 2fr auto;
  flex: 0 0 auto; /* ← evita estiramiento y hace scrollable */
  width: 278px; /* define un ancho fijo */
  height: auto;
  padding: 14px;
  border-radius: 10px;
  background: #f5f7f9;
  margin: 10px;
}
main .comments .reviews .scroll-container .scroll-reviews .review-card .review-title {
  font-size: 20px;
  font-weight: bold;
}
main .comments .reviews .scroll-container .scroll-reviews .review-card .rating {
  width: 180px;
  height: auto;
  padding: 15px 0;
}
main .comments .reviews .scroll-container .scroll-reviews .review-card .rating img {
  width: 25px;
  height: 25px;
}
main .comments .reviews .scroll-container .scroll-reviews .review-card .text-card-container {
  padding-bottom: 45px;
  padding-top: 15px;
  line-height: 22px;
  font-weight: bold;
}
main .comments .rating-company {
  width: 90%;
  height: auto;
}
main .comments .rating-company .rating img {
  width: 25px;
  height: 25px;
}
main .comments .rating-company p {
  font-size: 16px;
  font-weight: bold;
}
main .guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .guide .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background-image: url("../images/info_img1.webp");
  background-size: cover;
  background-position: center;
}
main .guide .info-phone-width {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px 0;
}
main .guide .info-phone-width h3 {
  font-size: 38px;
}
main .guide .info-phone-width p {
  font-size: 20px;
  line-height: 30px;
}
main .guide .info-phone-width #trust-text {
  line-height: normal;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
main .guide .info-phone-width button {
  width: 180px;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
main .guide .questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .guide .questions .questions-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
}
main .guide .questions .question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}
main .guide .questions .question-container .question-card {
  display: flex;
  gap: 3px;
  width: 90%;
  height: auto;
  border-top: solid 1px #d4dbe0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 0;
}
main .guide .questions .question-container .question-card img {
  width: 30px;
  height: 30px;
}
main .guide .questions .privacy-politics {
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
main .guide .questions .privacy-politics a {
  color: black;
}
main .guide .questions .privacy-politics p {
  margin: 15px 0;
}

/*# sourceMappingURL=main.css.map */
